HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/itrip-beans/src/main/java/com/cskt/entity/
/.
/itrip-auth/
/itrip-beans/
/itrip-dao/
/itrip-util/
/.idea/
/.mvn/
/itrip-beans/src/
/itrip-beans/src/main/
/itrip-beans/src/main/java/
/itrip-beans/src/main/java/com/cskt/common/
/itrip-beans/src/main/resources/
/itrip-beans/src/test/
/itrip-beans/target/
/itrip-beans/itrip-beans.iml
/itrip-beans/pom.xml
/itrip-dao/src/
/itrip-dao/src/main/
/itrip-dao/src/main/java/
/itrip-dao/src/main/java/com/cskt/
/itrip-dao/src/main/resources/
/itrip-dao/src/test/
/itrip-dao/target/
/itrip-dao/itrip-dao.iml
/itrip-dao/pom.xml
/logs/
/.gitignore
/HELP.md
/itrip-project.iml
/mvnw
/mvnw.cmd
/pom.xml
/README.md
